body{
	background-color: #e2e3e2;
}
/* second footer*/
.Mini{
	background-color: #efd573;
}

/*- Fotter*/
.fore{
	background-color: #8b909a;
}
/* mini 7*/
.mini{
	background-color: #efd573 ;
}

/* mini8*/
.BMM{
	background-color:#efd573;
}